---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<main>
			<h1>Welcome to DaveAndAmyRudd.com</h1>
			<p>
				We are in the process of moving our site to a new host, as time permits.
			</p>
			<p>
				Please be patient -- it will probably take a while.
			</p>
		</main>
	</body>
</html>
